archive/
results/*.dat
results/*.log
scripts/*.avi
scripts/*.mp4
output/
src/data/
data/anim_angles*.cpp
data/anim_speeds*.cpp
data/anim_angles_180815_S1_S2_lightVSdarkness_merged.cpp
data/anim_speeds_180815_S1_S2_lightVSdarkness_merged.cpp
data/anim_angles_180815_S1_S2_lightVSdarkness_merged_40min.cpp
data/anim_speeds_180815_S1_S2_lightVSdarkness_merged_40min.cpp
data/anim_angles_191108_S1_lightVSdarkness_cells11and12.cpp
data/anim_speeds_191108_S1_lightVSdarkness_cells11and12.cpp
scripts/generate_weights/examples
scripts/generate_weights/*.jpg
scripts/generate_weights/synapse_weights.cpp
data/mex_hat_bup.cpp
data/mex_hat.cpp
data/synapse_weights.cpp
